export(connect_atlas_db)
export(roi_names)
export(get_roi_foci)
export(outliers)
export(clusterCoords)
export(check_outliers)
export(boot_foci)
export(blur_foci)
export(blur_coord)
export(coord_density)
export(changeLabel)
exportMethods(toString, execute)
exportClass(Select)
